<div id="aboutme">
  <div id="dictionary">
    <h1 class="center"><span class="bold">Chua Cookie</span></h1>
    <p class="center"><span class="italics">noun</span>|<span class="monospace">/CHo͞o · ä Ko͝okē/</span></p>
    <ul>
      <li>A person who likes to chew a cookie</li>
      <li>Also my last name</li>
      <li>The process of creating ephemeral edible art</li>
      <ul>
        <li><span class="bold">synonyms:</span>  sugar artist, edible art, ooooh yummy</li>
        <li><span class="bold">informal:</span> “I didn’t think these cookies would taste as good as they looked!”</li>
      </ul>
    </ul>
  </div>

  





    <h2>Meet Chua Cookie</h2>
    <p>Arlene Chua is a first-generation American immigrant, who came to NYC from the Philippines in 1984. She grew up in Staten Island with her three sisters and a traditional Filipina mom, who loved to cook and bake everything from scratch.</p> 
    <p>Arlene is a sugar addict, who loves having dessert for breakfast. While she grew up baking alongside her mother, it wasn’t until 2016 that she discovered her talent for cookie decorating. After losing her mother to cancer, cookie decorating became a therapeutic outlet for her grief. She decided to immerse herself in learning all tricks of the trade. In less than two years’ time, she was able to earn several accolades, including appearing as a finalist in Food Network’s Christmas Cookie Challenge,  placing 2nd at The NY Cake Show, placing 3rd at Cookie Con, and being featured in Cookie Connection’s Practice Bakes Perfect Challenges and Top 10 Cookies.</p>

    <p>Arlene is a baking banker who juggles a full-time job as a Treasury Analyst for a Private Bank on Wall Street, along with her passion for midnight cookie decorating. Her colleagues are often her guinea pigs for taste testing all her new recipes. They describe Arlene as having OCD with the tiniest details, making her one heck of an analyst. This attention to details transcends from numbers to her royal icing piping skills. Arlene’s first experimentation with cookies came when she offered to help a colleague when he and his husband could not find appropriate wedding favors. She immediately created a prototype designed to match the invitation and was undaunted by fulfilling 500 cookies as her first order. Since the start, the idea of bespoke cookies appealed to Arlene- attention to the smallest details, belief in more is more, intricate piping work, and uncanny eye for customizing cookies to a personality soon became her trademark. </p>

    <p>Now, Arlene would love to share her cookie art with you. She specializes in creating intricate “keepsake cookies” and is available for intimate classes, private parties and events.</p>
    
    
  <h2>About Arlene</h2>
    <img class="head-shot" src="https://cdn.glitch.com/a59ddf1d-e970-43d8-a208-b51619986711%2FChua%20Cookie%20Logo%20Cookiefied.jpg?1509381667899">
    <p>I’m a multi-tasker at heart! When I’m not busy juggling two jobs as a baking banker, I love to spend time with my two furry babies, a t chihuahua & a giant pitbull. I love to read and appreciate all genres (from my favorite authors George R.R. Martin, to Junot Diaz & Jhumpa Lahiri). I’m also a fashion lover who is currently seeking treatment for being a shoe & bag hoarder with a Louboutin/ Chanel obsession. Oh, and I love to eat ALLLLLL kinds of desserts… I mean, I really really really love to eat.<p>
</div>
