  <div id="comingsoon" class="center cursive">
  
  <h1 class="cursive center large-header">
    Coming Soon!
  </h1>
  
  <img id="coming-soon-picture" src="https://cdn.glitch.com/509657fa-2f2b-4408-a480-cd3dfb22386c%2FChua%20Cookie_Logo.png?1504282196055">


  </div>