<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
	<meta name="keywords" content="cookies, decorating, arlene chua">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">

	<title>Chua Cookie</title>

</head>
  <body>
    <div id="wrapper">
      <nav id="pink-navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ChuaCookie</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/gallery">Gallery</a></li>
            <li class="nav-item"><a href="/pricing">Pricing</a></li>
            <li class="nav-item"><a href="/classes">Classes</a></li>
            <li class="nav-item"><a href="/faq">FAQ</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.facebook.com/chuacookie411/" target="_blank"><img src="https://cdn.glitch.com/a59ddf1d-e970-43d8-a208-b51619986711%2Ffacebook-3-24%20(1).ico?1509250308182"></a></li>
            <li><a href="https://www.instagram.com/chua.cookie/" target="_blank"><img src="https://cdn.glitch.com/a59ddf1d-e970-43d8-a208-b51619986711%2Finstagram-24%20(1).ico?1509250311789"></a></li>
            <li><a href="/contact" target="_blank"><img src="https://cdn.glitch.com/a59ddf1d-e970-43d8-a208-b51619986711%2Fmail-24.ico?1509250482980"></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="content">


    {{{body}}}
    </div>
    <footer>
      Made with <span class="glyphicon glyphicon-heart"></span> by <a href="https://www.nancyhawa.com">Nancy Hawa</a>
    </footer>
  </div>
    <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

  </body>
</html>
